.caratula{
    border-radius: 12px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.301);
}

.vote-avg-container{
    background: linear-gradient(to bottom, rgb(0, 94, 218), rgb(92, 0, 179));
    border: 1px solid rgb(140, 7, 180);
    border-radius: 50%;
    color: aliceblue;
    box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.329);
    text-align: center;
    text-shadow: 0px 0px 2px rgb(2, 255, 242);
    font-weight: 600;
    font-size: 18px;
    min-width: 55px;
    min-height: fit-content;
    padding: 16px;
    top: -10px;
    position: absolute;
    left: 100%;
    top: 100%;
    transform: translate(-125%, -75%);
}

.img-container{
    width: fit-content;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    margin-bottom: 50px;
}

.sub_info{
    display: flex;
    justify-content: space-between;
    padding-right: 5%;

}

.genres-container{
    display: flex;
    justify-content: start;
    gap: 10px;
    width: 100%;
    flex-wrap: wrap;
    padding: 10px;
}

.link{
    text-decoration: none;
    color: grey;
    overflow: hidden;
    text-overflow: ellipsis;
    
}

.description-container{
    margin-bottom: 25px;
}



@media screen and (max-width: 350px){
    .vote-avg-container{
        color: white;
        font-size: 17px;
        padding: 10px;
    }

}