<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Pelis App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar showCancelButton="focus" placeholder="Busca una película..." [(ngModel)]="busqueda"
    (ionChange)="buscarString(busqueda)"></ion-searchbar>
  <h1 class="mas-populares-title" *ngIf="busqueda === ''">Películas más populares</h1>
  <ion-list>
    <ion-item *ngFor="let movie of movies" [routerLink]="['/movie-details/' + movie.id ]">
      {{movie.title}}
    </ion-item>
  </ion-list>
</ion-content>